@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

#pumpkins {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 70px;
  width: 100%;
}

body {
  width: 100%;
  font-family: 'Creepster', cursive;
  background-image: url('./../../assets/images/jene-yeo-O9HBCpi1hME-unsplash.jpg');
  color: orange;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  display: block;
  color: red
}

p { 
  font-size: 25px;
  color: black;
}
.ISO-4217 {
  margin-top: 5px;
  color: red;
} 

.link {
  color: darkblue;
} 

pre {
  display: block;
  color: darkgreen;
  font-family: 'Creepster', cursive;
  font-size: 20px;
  margin-bottom: 0px;
}

#form-info {
  width: 340px;
  display: block;
}

label,input,button {
  background-color: black;
  color: red;
  font-size: 15px;
  display: block;
}

#showResponse{
  background-color: red;
  font-size: 25px;
}

.bat {
  margin-bottom: 0px;
  font-size: 30px;
  display: block;
  text-align: left;
}

.bat0 {
  margin-bottom: 0px;
  font-size: 30px;
  display: block;
  text-align: right;
  margin-right: 100px;
}

.bat1 {
  margin-bottom: 0px;
  font-size: 100px;
  display: block;
  text-align: center;
}

.bat2 {
  font-size:80px;
  display: block;
  text-align: left; 
}

.bat3 {
  font-size:70px;
  display: block;
  text-align: right;
  margin-right: 100px;
}



